/*!
 * Print CSS for printable, readable pages
 */

/* PRINT IMPROVEMENTS
------------------------------------------*/
body {
  background: white;
  font: 12pt/1.3 Georgia, "Times New Roman", Times, serif;
}

img {
  max-width: 100%;
}

a:link,
a:visited {
  background: transparent;
  color: #000;
}

a:link:after,
a:visited:after {
  color: #767676;
  content: " (" attr(href) ") ";
  font-size: 86%;
}

/* COMPONENTS
--------------------------------------------------------------------------------*/
/* TIMELINE
------------------------------------------*/
.timeline_item--delivered .deliverable_details ul {
  list-style: none;
}