<!DOCTYPE html>
<!--[if lt IE 8]> <html lang="en" class="lte9 lte8 oldie"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="lte9 lte8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="lte9"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" dir="ltr"> <!--<![endif]-->
  <head>
    <title><%= clientName %> project hub</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />
    <meta name="author" content="<%= copyrightAuthor %>" />

    <link rel="stylesheet" media="all" href="css/normalize.css" />
    <link rel="stylesheet" media="all" href="css/style.css" />
    <link rel="stylesheet" media="print" href="css/print.css" />
  </head>

  <body>
    <h1><%= clientName %> project hub</h1>

    <ol class="timeline">
      <li class="timeline_item">
        <p class="deliverable">
          <time class="deliverable_date">Month Day, YYYY</time>
          <span class="deliverable_title">UAT website</span>
        </p>
      </li><!-- .timeline_item -->

      <li class="timeline_item">
        <p class="deliverable">
          <time class="deliverable_date">Month Day, YYYY</time>
          <span class="deliverable_title">HTML templates</span>
        </p>
      </li><!-- .timeline_item -->

      <li class="timeline_item">
        <p class="deliverable">
          <time class="deliverable_date">Month Day, YYYY</time>
          <span class="deliverable_title">Visual designs</span>
        </p>
      </li><!-- .timeline_item -->

      <li class="timeline_item">
        <p class="deliverable">
          <time class="deliverable_date">Month Day, YYYY</time>
          <span class="deliverable_title">Wireframe / Prototype</span>
        </p>
      </li><!-- .timeline_item -->

      <li class="timeline_item">
        <p class="deliverable">
          <time class="deliverable_date">Month Day, YYYY</time>
          <span class="deliverable_title">Functional requirements</span>
        </p>
      </li><!-- .timeline_item -->

      <li class="timeline_item timeline_item--delivered">
        <p class="deliverable">
          <time class="deliverable_date"><%= todaysDate %></time>
          <span class="deliverable_title"><%= firstDeliverable %></%></span>
        </p>
        <div class="deliverable_details">
          <ul>
            <li><a href="deliverables/01-<%= firstDeliverableLowerCase %>/<%= _.slugify(clientName) %>-<%= firstDeliverableLowerCase %>_<%= (new Date).toISOString().split('T')[0] %>.pdf"><%= clientName %> <%= firstDeliverable %> (pdf)</a>
          </ul>
          <p>Some additional information if required.</p>
        </div><!-- .deliverable_details -->
      </li><!-- .timeline_item -->
    </ol><!-- .timeline -->

    <footer role="contentinfo">
      <p>&copy; <%= (new Date).toISOString().split('-')[0] %> <%= copyrightAuthor %>. All rights reserved.</p>
    </footer><!-- .footer -->
  </body>
</html>